<!-- views/home.ejs -->
<%- include('partials/header', { title: homeData.title }) %>

    <section class="home-section">
        <div class="container">
            <h1>Hoş Geldiniz!</h1>
            <p>
                Request Time: <%= homeData.requestTime %>,
                    Response Time: <%= homeData.responseTime %>,
                        Difference: <%= homeData.difference %>
            </p>
        </div>
    </section>

    <section class="photo-gallery-section">
        <div class="photo-gallery-container">
            <% photos.forEach(photo=> { %>
                <div class="photo-card">
                    <img src="<%= photo.image %>" alt="<%= photo.title %>" />
                    <h3>
                        <%= photo.title %>
                    </h3>
                    <p>
                        <%= photo.description %>
                    </p>
                </div>
                <% }) %>

        </div>
    </section>

    <%- include('partials/footer') %>